In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import warnings
warnings.filterwarnings("ignore")


from pydataset import data
import prepare
import wrangle_zillow
import env

from scipy import stats
import math

In [2]:
df = wrangle_zillow.get_zillow_df()

In [3]:
df.shape

(52442, 70)

In [4]:
df.columns.unique

<bound method Index.unique of Index(['parcelid', 'typeconstructiontypeid', 'storytypeid',
       'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid',
       'propertylandusetypeid', 'id', 'basementsqft', 'bathroomcnt',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr',
       'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'max_transactiondate', 'id.1', 'logerror',
       'transactiondate', 'propertylandusedesc', 'airconditioningdesc',
       'architecturalstyledesc', 'buildingclassdesc', 'heatingorsystemdesc',
       'storydesc', 'typeconstructiondesc'],
      dtype='object')>

In [5]:
df_1 = df["id"]

In [6]:
cols = []
count = 1
for column in df.columns:
    if column == 'id':
        cols.append(f'property_id_{count}')
        count+=1
        continue
    cols.append(column)
df.columns = cols

In [7]:
df.columns.unique

<bound method Index.unique of Index(['parcelid', 'typeconstructiontypeid', 'storytypeid',
       'heatingorsystemtypeid', 'buildingclasstypeid',
       'architecturalstyletypeid', 'airconditioningtypeid',
       'propertylandusetypeid', 'property_id_1', 'basementsqft', 'bathroomcnt',
       'bedroomcnt', 'buildingqualitytypeid', 'calculatedbathnbr',
       'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'max_transactiondate', 'id.1', 'logerror',
       'transactiondate', 'propertylandusedesc', 'airconditioningdesc',
       'architecturalstyledesc', 'buildingclassdesc', 'heatingorsystemdesc',
       'storydesc', 'typeconstructiondesc'],
      dtype='object')>

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52442 entries, 0 to 52441
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52442 non-null  int64
 1   typeconstructiontypeid        76 non-null     float64
 2   storytypeid                   47 non-null     float64
 3   heatingorsystemtypeid         33936 non-null  float64
 4   buildingclasstypeid           0 non-null      float64
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13638 non-null  float64
 7   propertylandusetypeid         52442 non-null  float64
 8   property_id_1                 52442 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52442 non-null  float64
 11  bedroomcnt                    52442 non-null  float64
 12  buildingqualitytypeid         33741 non-null  float64
 13  calculatedbathnbr             52305 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52360 non-null  float64
 17  finishedsquarefeet12          52195 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52442 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52305 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52442 non-null  float64
 29  longitude                     52442 non-null  float64
 30  lotsizesquarefeet             52073 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52442 non-null  object
 37  propertyzoningdesc            33849 non-null  object
 38  rawcensustractandblock        52442 non-null  float64
 39  regionidcity                  51405 non-null  float64
 40  regionidcounty                52442 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52416 non-null  float64
 43  roomcnt                       52442 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33848 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52326 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52358 non-null  float64
 52  taxvaluedollarcnt             52441 non-null  float64
 53  assessmentyear                52442 non-null  float64
 54  landtaxvaluedollarcnt         52441 non-null  float64
 55  taxamount                     52438 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52319 non-null  float64
 59  max_transactiondate           52442 non-null  object
 60  id.1                          52442 non-null  int64
 61  logerror                      52442 non-null  float64
 62  transactiondate               52442 non-null  object
 63  propertylandusedesc           52442 non-null  object
 64  airconditioningdesc           13638 non-null  object
 65  architecturalstyledesc        70 non-null     object
 66  buildingclassdesc             0 non-null      float64
 67  heatingorsystemdesc           33936 non-null  object
 68  storydesc                     47 non-null     object
 69  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(3), object(11)
memory usage: 28.0+ MB

In [9]:
# this code line replaces the period on the columns with a space
import re
df.columns = [re.sub("[ ,-]", "_", re.sub("[\.,`,\$]", "", c)) for c in df.columns]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52442 entries, 0 to 52441
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52442 non-null  int64
 1   typeconstructiontypeid        76 non-null     float64
 2   storytypeid                   47 non-null     float64
 3   heatingorsystemtypeid         33936 non-null  float64
 4   buildingclasstypeid           0 non-null      float64
 5   architecturalstyletypeid      70 non-null     float64
 6   airconditioningtypeid         13638 non-null  float64
 7   propertylandusetypeid         52442 non-null  float64
 8   property_id_1                 52442 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52442 non-null  float64
 11  bedroomcnt                    52442 non-null  float64
 12  buildingqualitytypeid         33741 non-null  float64
 13  calculatedbathnbr             52305 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52360 non-null  float64
 17  finishedsquarefeet12          52195 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52442 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52305 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52442 non-null  float64
 29  longitude                     52442 non-null  float64
 30  lotsizesquarefeet             52073 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52442 non-null  object
 37  propertyzoningdesc            33849 non-null  object
 38  rawcensustractandblock        52442 non-null  float64
 39  regionidcity                  51405 non-null  float64
 40  regionidcounty                52442 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52416 non-null  float64
 43  roomcnt                       52442 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33848 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52326 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52358 non-null  float64
 52  taxvaluedollarcnt             52441 non-null  float64
 53  assessmentyear                52442 non-null  float64
 54  landtaxvaluedollarcnt         52441 non-null  float64
 55  taxamount                     52438 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52319 non-null  float64
 59  max_transactiondate           52442 non-null  object
 60  id1                           52442 non-null  int64
 61  logerror                      52442 non-null  float64
 62  transactiondate               52442 non-null  object
 63  propertylandusedesc           52442 non-null  object
 64  airconditioningdesc           13638 non-null  object
 65  architecturalstyledesc        70 non-null     object
 66  buildingclassdesc             0 non-null      float64
 67  heatingorsystemdesc           33936 non-null  object
 68  storydesc                     47 non-null     object
 69  typeconstructiondesc          76 non-null     object
dtypes: float64(56), int64(3), object(11)
memory usage: 28.0+ MB

In [10]:
def handle_nulls(df):
    pct_null = df.isnull().sum() / len(df)
    missing_features = pct_null[pct_null > 0.20].index
    df.drop(missing_features, axis=1, inplace=True)
    df.dropna(inplace= True)
    return df

In [11]:
df_20 = handle_nulls(df)
df_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50674 entries, 0 to 52441
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      50674 non-null  int64
 1   propertylandusetypeid         50674 non-null  float64
 2   property_id_1                 50674 non-null  int64
 3   bathroomcnt                   50674 non-null  float64
 4   bedroomcnt                    50674 non-null  float64
 5   calculatedbathnbr             50674 non-null  float64
 6   calculatedfinishedsquarefeet  50674 non-null  float64
 7   finishedsquarefeet12          50674 non-null  float64
 8   fips                          50674 non-null  float64
 9   fullbathcnt                   50674 non-null  float64
 10  latitude                      50674 non-null  float64
 11  longitude                     50674 non-null  float64
 12  lotsizesquarefeet             50674 non-null  float64
 13  propertycountylandusecode     50674 non-null  object
 14  rawcensustractandblock        50674 non-null  float64
 15  regionidcity                  50674 non-null  float64
 16  regionidcounty                50674 non-null  float64
 17  regionidzip                   50674 non-null  float64
 18  roomcnt                       50674 non-null  float64
 19  yearbuilt                     50674 non-null  float64
 20  structuretaxvaluedollarcnt    50674 non-null  float64
 21  taxvaluedollarcnt             50674 non-null  float64
 22  assessmentyear                50674 non-null  float64
 23  landtaxvaluedollarcnt         50674 non-null  float64
 24  taxamount                     50674 non-null  float64
 25  censustractandblock           50674 non-null  float64
 26  max_transactiondate           50674 non-null  object
 27  id1                           50674 non-null  int64
 28  logerror                      50674 non-null  float64
 29  transactiondate               50674 non-null  object
 30  propertylandusedesc           50674 non-null  object
dtypes: float64(24), int64(3), object(4)
memory usage: 12.4+ MB

In [ ]:
df = df.drop["property_id_1", "assessmentyear","id1","transactiondate"]

In [12]:
df.fips.value_counts()

6037.0    32822
6059.0    13522
6111.0     4330
Name: fips, dtype: int64

In [13]:
for column in df.columns:
    print(column)
    print(df[column].value_counts())
    print("-----------------")

parcelid
13083743    3
10722858    2
12519794    2
14092694    2
10811539    2
           ..
10720574    1
12483845    1
13077156    1
17230690    1
12826780    1
Name: parcelid, Length: 50560, dtype: int64
-----------------
propertylandusetypeid
261.0    50674
Name: propertylandusetypeid, dtype: int64
-----------------
property_id_1
2455685    3
16179      2
82377      2
2009931    2
449181     2
          ..
1433044    1
2274554    1
1710698    1
15851      1
1187175    1
Name: property_id_1, Length: 50560, dtype: int64
-----------------
bathroomcnt
2.0     21539
3.0     10154
1.0      9239
2.5      3862
4.0      2067
3.5       883
1.5       817
5.0       738
4.5       657
6.0       282
5.5       219
7.0        85
8.0        49
6.5        44
7.5        16
9.0        12
10.0        5
11.0        3
8.5         2
13.0        1
Name: bathroomcnt, dtype: int64
-----------------
bedroomcnt
3.0     22846
4.0     14714
2.0      8058
5.0      3758
6.0       603
1.0       534
7.0       100
0.0        27
8.0        23
9.0         8
10.0        2
11.0        1
Name: bedroomcnt, dtype: int64
-----------------
calculatedbathnbr
2.0     21539
3.0     10154
1.0      9239
2.5      3862
4.0      2067
3.5       883
1.5       817
5.0       738
4.5       657
6.0       282
5.5       219
7.0        85
8.0        49
6.5        44
7.5        16
9.0        12
10.0        5
11.0        3
8.5         2
13.0        1
Name: calculatedbathnbr, dtype: int64
-----------------
calculatedfinishedsquarefeet
1120.0    127
1200.0    114
1080.0    100
936.0      85
1176.0     83
         ...
3509.0      1
4464.0      1
565.0       1
657.0       1
5655.0      1
Name: calculatedfinishedsquarefeet, Length: 4653, dtype: int64
-----------------
finishedsquarefeet12
1120.0    127
1200.0    114
1080.0    100
936.0      85
1176.0     83
         ...
3509.0      1
4464.0      1
565.0       1
657.0       1
5655.0      1
Name: finishedsquarefeet12, Length: 4653, dtype: int64
-----------------
fips
6037.0    32822
6059.0    13522
6111.0     4330
Name: fips, dtype: int64
-----------------
fullbathcnt
2.0     25412
3.0     11047
1.0     10056
4.0      2725
5.0       953
6.0       315
7.0        94
8.0        51
9.0        12
10.0        5
11.0        3
13.0        1
Name: fullbathcnt, dtype: int64
-----------------
latitude
34487900.0    7
34101300.0    7
34041200.0    6
33765800.0    5
33914773.0    4
             ..
33483670.0    1
33837380.0    1
34023323.0    1
34034633.0    1
33937685.0    1
Name: latitude, Length: 48866, dtype: int64
-----------------
longitude
-117835000.0    8
-118172000.0    7
-118327000.0    7
-118251000.0    6
-117847000.0    5
               ..
-118307203.0    1
-118186384.0    1
-119191515.0    1
-118154564.0    1
-117996709.0    1
Name: longitude, Length: 49136, dtype: int64
-----------------
lotsizesquarefeet
6000.0      869
5000.0      407
7200.0      297
7000.0      282
6500.0      270
           ...
100971.0      1
17540.0       1
59169.0       1
20191.0       1
47405.0       1
Name: lotsizesquarefeet, Length: 13972, dtype: int64
-----------------
propertycountylandusecode
0100    26003
122     12518
0101     6161
1111     3346
1        1004
1110      983
0104      359
0103       86
010G       79
0108       54
010M       49
0109        8
0113        6
0110        6
0102        3
0111        2
0105        2
0133        1
0131        1
1112        1
0114        1
0130        1
Name: propertycountylandusecode, dtype: int64
-----------------
rawcensustractandblock
6.037920e+07    32
6.059032e+07    24
6.059032e+07    22
6.037142e+07    22
6.037236e+07    20
                ..
6.037298e+07     1
6.037298e+07     1
6.111003e+07     1
6.037404e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 30590, dtype: int64
-----------------
regionidcity
12447.0    11306
5534.0      1762
40227.0     1486
46298.0     1424
16764.0     1069
           ...
32927.0        3
31134.0        2
36078.0        1
10815.0        1
21395.0        1
Name: regionidcity, Length: 175, dtype: int64
-----------------
regionidcounty
3101.0    32822
1286.0    13522
2061.0     4330
Name: regionidcounty, dtype: int64
-----------------
regionidzip
97319.0    762
97318.0    661
97329.0    563
97328.0    517
97118.0    496
          ...
95996.0      2
96038.0      1
97092.0      1
96148.0      1
96467.0      1
Name: regionidzip, Length: 378, dtype: int64
-----------------
roomcnt
0.0     36515
6.0      3889
7.0      3540
8.0      2774
5.0      1817
9.0      1159
4.0       442
10.0      336
11.0      103
3.0        42
12.0       33
13.0        9
2.0         8
14.0        5
1.0         1
15.0        1
Name: roomcnt, dtype: int64
-----------------
yearbuilt
1955.0    1857
1950.0    1587
1954.0    1490
1953.0    1466
1956.0    1349
1964.0    1278
1952.0    1186
1951.0    1176
1959.0    1054
1963.0    1002
1957.0     995
1962.0     983
1947.0     981
1965.0     972
1949.0     951
1948.0     906
1960.0     867
1961.0     810
1989.0     801
1977.0     790
1958.0     768
1976.0     725
1973.0     691
1972.0     684
1987.0     643
1978.0     627
1969.0     614
1968.0     606
1979.0     589
1971.0     580
1986.0     569
1990.0     555
1966.0     554
1941.0     517
1923.0     517
1940.0     502
1924.0     486
1988.0     479
1925.0     470
1985.0     463
2005.0     459
1970.0     458
2001.0     456
2000.0     440
1939.0     431
1999.0     422
1967.0     420
1974.0     418
1980.0     417
1926.0     413
2003.0     411
2006.0     404
1984.0     397
2002.0     387
2004.0     373
1922.0     372
1997.0     371
1946.0     370
1998.0     369
1975.0     363
1938.0     348
1994.0     329
1927.0     329
1942.0     323
1992.0     318
1996.0     316
1928.0     313
1944.0     310
1981.0     306
2007.0     298
1995.0     296
1937.0     279
1983.0     275
1993.0     273
1991.0     256
1929.0     247
1936.0     228
1921.0     195
1930.0     189
1920.0     168
1945.0     157
1943.0     152
1982.0     140
1912.0     125
2008.0     124
1935.0     122
1931.0     118
1910.0     115
2013.0     107
2010.0     102
1913.0      97
2014.0      97
1911.0      95
2012.0      90
1932.0      81
1915.0      80
2009.0      80
2011.0      75
1914.0      69
1909.0      68
1919.0      66
1905.0      62
1933.0      61
1908.0      59
1934.0      53
1918.0      52
1906.0      50
1917.0      47
1907.0      43
1916.0      38
2015.0      36
1904.0      19
1903.0      19
1901.0      13
1902.0      13
1895.0      11
1900.0      10
1890.0       7
1896.0       5
1898.0       5
1885.0       4
1888.0       3
1899.0       3
1887.0       3
2016.0       2
1893.0       2
1889.0       1
1897.0       1
1892.0       1
1878.0       1
1882.0       1
1894.0       1
1880.0       1
Name: yearbuilt, dtype: int64
-----------------
structuretaxvaluedollarcnt
100000.0    48
200000.0    36
90000.0     32
32489.0     27
95000.0     26
            ..
259627.0     1
204986.0     1
309618.0     1
118280.0     1
32797.0      1
Name: structuretaxvaluedollarcnt, Length: 36175, dtype: int64
-----------------
taxvaluedollarcnt
455000.0    32
600000.0    29
500000.0    24
450000.0    24
530000.0    22
            ..
332813.0     1
186199.0     1
209341.0     1
203304.0     1
49546.0      1
Name: taxvaluedollarcnt, Length: 37794, dtype: int64
-----------------
assessmentyear
2016.0    50674
Name: assessmentyear, dtype: int64
-----------------
landtaxvaluedollarcnt
21299.0     94
22755.0     63
30210.0     62
16522.0     54
16749.0     51
            ..
280040.0     1
156207.0     1
40235.0      1
477331.0     1
283704.0     1
Name: landtaxvaluedollarcnt, Length: 35761, dtype: int64
-----------------
taxamount
345.72     4
5871.38    3
2172.75    3
7210.68    3
4251.80    3
          ..
4084.59    1
3114.95    1
4050.56    1
4996.36    1
6317.15    1
Name: taxamount, Length: 49154, dtype: int64
-----------------
censustractandblock
6.037920e+13    32
6.059032e+13    24
6.059032e+13    23
6.059032e+13    22
6.037142e+13    22
                ..
6.059064e+13     1
6.037670e+13     1
6.111002e+13     1
6.037481e+13     1
6.037503e+13     1
Name: censustractandblock, Length: 30584, dtype: int64
-----------------
max_transactiondate
2017-06-30    782
2017-04-28    592
2017-05-31    551
2017-07-28    528
2017-08-31    518
             ...
2017-08-13      1
2017-08-12      1
2017-03-25      1
2017-06-03      1
2017-09-25      1
Name: max_transactiondate, Length: 258, dtype: int64
-----------------
id1

0        1
51646    1
51649    1
51650    1
51651    1
        ..
26065    1
26066    1
26067    1
26068    1
77613    1
Name: id1, Length: 50674, dtype: int64
-----------------
logerror
 0.002652    5
 0.000727    5
 0.001878    5
 0.000231    5
 0.008257    4
            ..
-0.009330    1
-0.020670    1
 0.044409    1
 0.008852    1
 0.037129    1
Name: logerror, Length: 50428, dtype: int64
-----------------
transactiondate
2017-06-30    780
2017-04-28    593
2017-05-31    550
2017-07-28    526
2017-08-31    514
             ...
2017-05-07      1
2017-05-13      1
2017-05-20      1
2017-06-11      1
2018-05-25      1
Name: transactiondate, Length: 258, dtype: int64
-----------------
propertylandusedesc
Single Family Residential    50674
Name: propertylandusedesc, dtype: int64
-----------------

In [14]:
df["fips"] = pd.Categorical(df.fips) #converted fips data to categorical and changed the names to county names for readability purposes
df['fips'] = df['fips'].astype(str).apply(lambda x: x.replace('.0',''))

In [15]:
df["fips"].replace("6111",'Ventura', inplace=True)#converted fips data to county names 
df["fips"].replace("6059",'Orange', inplace=True)
df["fips"].replace("6037",'Los_Angeles', inplace=True)

In [27]:
df = df[df.calculatedfinishedsquarefeet <= 6000] #removed outliers by cutting houses over 60000 sqfeet, below 70feet
df = df[df.calculatedfinishedsquarefeet>70] #removes outliers below 70 sqfeet
df = df[df.taxvaluedollarcnt<=1_200_000]#removed houses over 1.2 million in dollar amount to remove outliers
df = df[df.bedroomcnt <=6]# removed houses above 6 bedrooms/
df = df[df.bathroomcnt <=6] # and 6baths  in order to have a normal distribution
df = df[df.logerror <= 2]
df = df[df.logerror>= -2]
df.drop(["property_id_1", "assessmentyear","id1","transactiondate"])

KeyError: "['property_id_1' 'assessmentyear' 'id1' 'transactiondate'] not found in axis"

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46838 entries, 0 to 52441
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      46838 non-null  int64
 1   propertylandusetypeid         46838 non-null  float64
 2   property_id_1                 46838 non-null  int64
 3   bathroomcnt                   46838 non-null  float64
 4   bedroomcnt                    46838 non-null  float64
 5   calculatedbathnbr             46838 non-null  float64
 6   calculatedfinishedsquarefeet  46838 non-null  float64
 7   finishedsquarefeet12          46838 non-null  float64
 8   fips                          46838 non-null  object
 9   fullbathcnt                   46838 non-null  float64
 10  latitude                      46838 non-null  float64
 11  longitude                     46838 non-null  float64
 12  lotsizesquarefeet             46838 non-null  float64
 13  propertycountylandusecode     46838 non-null  object
 14  rawcensustractandblock        46838 non-null  float64
 15  regionidcity                  46838 non-null  float64
 16  regionidcounty                46838 non-null  float64
 17  regionidzip                   46838 non-null  float64
 18  roomcnt                       46838 non-null  float64
 19  yearbuilt                     46838 non-null  float64
 20  structuretaxvaluedollarcnt    46838 non-null  float64
 21  taxvaluedollarcnt             46838 non-null  float64
 22  assessmentyear                46838 non-null  float64
 23  landtaxvaluedollarcnt         46838 non-null  float64
 24  taxamount                     46838 non-null  float64
 25  censustractandblock           46838 non-null  float64
 26  max_transactiondate           46838 non-null  object
 27  id1                           46838 non-null  int64
 28  logerror                      46838 non-null  float64
 29  transactiondate               46838 non-null  object
 30  propertylandusedesc           46838 non-null  object
dtypes: float64(23), int64(3), object(5)
memory usage: 12.4+ MB

In [ ]:
df.columns.values.tolist()

In [21]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

newdf = df.select_dtypes(include=numerics)
newdf

,parcelid,propertylandusetypeid,property_id_1,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fullbathcnt,latitude,...,roomcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id1,logerror
0,14297519,261.0,1727539,3.5,4.0,3.5,3100.0,3100.0,3.0,33634931.0,...,0.0,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0,0.025595
1,17052889,261.0,1387261,1.0,2.0,1.0,1465.0,1465.0,1.0,34449266.0,...,5.0,1967.0,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,1,0.055619
2,14186244,261.0,11677,2.0,3.0,2.0,1243.0,1243.0,2.0,33886168.0,...,6.0,1962.0,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2,0.005383
3,12177905,261.0,2288172,3.0,4.0,3.0,2376.0,2376.0,3.0,34245180.0,...,0.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,-0.103410
4,12095076,261.0,781532,3.0,4.0,3.0,2962.0,2962.0,3.0,34145202.0,...,0.0,1950.0,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,-0.001011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52437,11000655,261.0,673515,2.0,2.0,2.0,1286.0,1286.0,2.0,34245368.0,...,0.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,77609,0.020615
52438,17239384,261.0,2968375,2.0,4.0,2.0,1612.0,1612.0,2.0,34300140.0,...,7.0,1964.0,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,77610,0.013209
52439,12773139,261.0,1843709,1.0,3.0,1.0,1032.0,1032.0,1.0,34040895.0,...,0.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,77611,0.037129
52440,12826780,261.0,1187175,2.0,3.0,2.0,1762.0,1762.0,2.0,33937685.0,...,0.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,77612,0.007204
52441,13083743,261.0,2455685,2.0,3.0,2.0,1050.0,1050.0,2.0,34010864.0,...,0.0,1960.0,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13,77613,-0.197755

In [18]:
def handle_outliers(df, cols, k):
    # Create placeholder dictionary for each columns bounds
    bounds_dict = {}

    # get a list of all columns that are not object type
    non_object_cols = df.dtypes[df.dtypes != 'object'].index


    for col in non_object_cols:
        # get necessary iqr values
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        upper_bound =  q3 + k * iqr
        lower_bound =  q1 - k * iqr

        #store values in a dictionary referencable by the column name
        #and specific bound
        bounds_dict[col] = {}
        bounds_dict[col]['upper_bound'] = upper_bound
        bounds_dict[col]['lower_bound'] = lower_bound

    for col in non_object_cols:
        #retrieve bounds
        col_upper_bound = bounds_dict[col]['upper_bound']
        col_lower_bound = bounds_dict[col]['lower_bound']

        #remove rows with an outlier in that column
        df = df[(df[col] < col_upper_bound) & (df[col] > col_lower_bound)]
    
    return df

In [25]:
handle_outliers(df, df["logerror"], 1.5)

Empty DataFrame
Columns: [parcelid, propertylandusetypeid, property_id_1, bathroomcnt, bedroomcnt, calculatedbathnbr, calculatedfinishedsquarefeet, finishedsquarefeet12, fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, propertycountylandusecode, rawcensustractandblock, regionidcity, regionidcounty, regionidzip, roomcnt, yearbuilt, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, censustractandblock, max_transactiondate, id1, logerror, transactiondate, propertylandusedesc]
Index: []

[0 rows x 31 columns]

In [24]:
np.quantile

In [ ]:
train, validate, test = prepare.split_data(df)

In [ ]:
train.hist(bins = 20,figsize =  (20,15))

In [ ]:
df.logerror

In [ ]:
train_drop = train[['fips', 'bedroomcnt']].sample(1000)
target = train["logerror"]
for col in train_drop:
    sns.boxplot(x=train_drop[col], y=target, data=train_drop)
    plt.ylabel('logerror')
    plt.xlabel(col)
    plt.legend()
    plt.tight_layout()
    plt.show()

In [ ]:
sns.scatterplot(x="yearbuilt", y="taxvaluedollarcnt", hue ="logerror", data=train.sample(10000))